<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>APP发布稿库</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#59B19A">
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="stylesheets/common.css">
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="javascripts/common.js"></script>
    <script type="text/javascript" src="javascripts/fzcommon.js"></script>
</head>
<body>
<div id = "doc-form-all">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <div>
                <a id="doc-header-return-a" href="javascript:returnBack();" ><img src="images/navbar/return.png"></a><a href="javascript:choose_catalog_list();"><span id="doc-select-catalog-name" style="color: #FFFFFF">APP发布</span><img src="../images/list/xiala.png" ></a><span id="doc-select-catalog-child-name" style="color: #FFFFFF;font-size: 1rem"></span>
            </div>
        </div>
        <div class="am-header-right am-header-nav">
            <div>
                <a href="javascript:list_articles_refresh();"><img src="images/list/refresh-icon.png"></a><a href="javascript:newArticle();"><img src="images/list/plus-icon.png" ></a><a href="javascript:returnHome()"><img src="../images/list/home-icon.png" ></a>
            </div>
        </div>
    </header>

    <div id = "doc-scroll-wrapper" class="am-list-news-bd am-margin-left-sm" style="margin: 0">
        <ul id = "doc-article-list" class="am-list"></ul>
        <div id = "doc-scroll-more" style="display: none;" class="am-pagination-centered" data-am-scrollspy="{animation: 'fade', delay: 300}">加载更多</div>
    </div>
    <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 0">
        <a href="#top" title="回到顶部">
            <img style="height: 3rem" src="../images/top.png">
        </a>
    </div>
</div>
<div id="doc-catalog-list" style="display: none;">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:returnBackToMain()" class="">
                <img src="images/navbar/return.png" style="height: 2rem;padding-left: 1rem;padding-right: 1rem">
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">选择稿库</a>
        </h1>
    </header>
    <div id = "doc-catalog-list-tpl" class="am-list-news-bd">
    </div>
</div>

<script>
    var g_is_choose_catalog = false;//是否弹出选择分类树
    var g_articles_begin = 0;//从第几个稿件位置开始加载
    var g_select_catalog_id = -1;
    var g_has_more = false;
    var g_catalog_code = "";

    function list_articles_refresh(){

        load_article_list(g_select_catalog_id, 0, g_catalog_code);

    }

    //导航栏返回按钮
    function returnBack(){
        history.go(-1);
    }

    //返回首页
    function returnHome(){
        window.location.href = "/home?loginToHome=0&timestamp" + (new Date()).getTime();
    }

    //导航返回页面（从选择列表页面返回）
    function returnBackToMain(){
        $("#doc-catalog-list").hide();
        $("#doc-form-all").show();
    }

    function newArticle(){
        window.location.href = "/article_upload/turnNew";
    }

    //点击选择分类后，返回列表页面
    function select_catalog(id,name){

        $.each(g_catalogs, function(){
            if(this.id == id){

                var cat = document.getElementById('doc-select-catalog-name');
                g_select_catalog_id = this.id;
                if(window.localStorage){

                    window.localStorage.setItem('app-catalog-id', this.id);
                    window.localStorage.setItem('app-catalog-name', this.name);
                    window.localStorage.setItem('app-catalog-code',this.code)
                }

                cat.innerText = this.name;
                load_article_list(this.id,0,this.code);
                return false;
            }
        });

        $("#doc-form-all").show();
        $("#doc-catalog-list").hide();
        $("#doc-list-operation").show();
        g_is_choose_catalog = false;
    };


    function get_catalog_info(catalog_id){

        var catalog_info = {"id":0,"parent_id":0};
        $.each(g_catalogs, function(){
            if(this.id == catalog_id){

                catalog_info = this;
            }
        });
        return catalog_info;
    };

    function is_catalog_has_child(catalog_id){

        var has_child = false;
        $.each(g_catalogs, function(){
            if(this.parent_id == catalog_id){

                has_child = true;
            }
        });
        return has_child;
    }

    //展示某个分类下的所有子分类
    function list_child_catalog(catalog_id){

        if(is_catalog_has_child(catalog_id) == false){

            fn_show_tips('已经没有下一级了。');
            return;
        }

        var catalog_list_html = '<div id = "doc-catalog-list-tpl" class="am-list-news-bd">';
        catalog_list_html += '<ul class="am-list am-avg-sm-2">';

        if(catalog_id > 0){

            var catalog_info = get_catalog_info(catalog_id);
            catalog_list_html += '<li style="width:100%;text-align:center" onclick="list_child_catalog(' + catalog_info.parent_id + ');"><a class="am-list-item-hd" style="color: #98999D"><img style="height: 1.6rem" src="../images/return-level.png">' + '&nbsp;返回上一级&nbsp;&nbsp;(' + catalog_info.name + ')</a></li>';
            catalog_list_html += '<li style="width:0%"></li>';

        }

        $.each(g_catalogs, function(){
            if(this.parent_id == catalog_id){
                catalog_list_html += '<li style="width: 80%"><a onclick="select_catalog(' + this.id + ');" class="am-list-item-hd" style="width:94%;float:right">' + this.name + '</a></li>';
                if(is_catalog_has_child(this.id))
                    catalog_list_html += '<li style="width:20%" onclick="list_child_catalog(' + this.id + ');" class="am-fr"><a class="am-list-item-hd am-fr" style="width: 75%;float: left"><i class="am-icon-angle-right" style="color: #98999D;float: right"></i></a></li>';
                else
                    catalog_list_html += '<li style="width:20%" onclick="select_catalog(' + this.id + ');" class="am-fr"><a style="width:75%;" class="am-list-item-hd am-fr">&nbsp;</a></li>';
            }
        });
        catalog_list_html += '</ul>';
        catalog_list_html += '</div>';

        $("#doc-catalog-list-tpl").replaceWith(catalog_list_html);
    };

    //点击弹出选择分类页面
    var g_catalogs = "";
    function choose_catalog_list(){
        var loToken = localStorage.getItem('loToken');
        var q = "method=appCatalog" + "&perm=browser" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
        var data = {"m":"", "q":q};
//        var data = {};
//        var q = "method=siteCatalog" + "&perm=browser" + '&nocache=' + (new Date()).getTime();
//        var data = {"m":"", "q":q};
        //以post方式提交数据
        $.ajax({
            type: "GET",
//          url: "/catalog/site_catalogs",
            url: "/get",
            dataType:'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){
                if(jsonData.success == true){
                    g_catalogs = jsonData.results;
                    var catalog_info = get_catalog_info(g_select_catalog_id);
                    list_child_catalog(catalog_info.parent_id);
                 /*
                    $("#doc-form-all").hide();
                    $("#doc-list-operation").hide();
                    $("#doc-catalog-list").show();
                 */
                    g_is_choose_catalog = true;
                }
            }
        });
    }

    //获取某个分类下的稿件
    function load_article_list(catalog_id, begin_id, code){
        var loToken = localStorage.getItem('loToken');
        var q = "method=getAPPCatalog" + "&catalog_id=" + catalog_id + "&count=" + "<%= article_list_count%>" + "&loToken=" + loToken + "&code=" + code + "&begin=" + begin_id + '&nocache=' + (new Date()).getTime();
        var data = {"m":"", "q":q};

//        var data = {"catalog_id":catalog_id, "count":"<%= article_list_count%>", "begin":begin_id,};
//        var q = "method=getSiteCatalog" + "&catalog_id=" + catalog_id + "&count=" + "<%= article_list_count%>" + "&code=" + code + "&begin=" + begin_id + '&nocache=' + (new Date()).getTime();
//        var data = {"m":"", "q":q};
        //以post方式提交数据
        $.ajax({
            type: "GET",
//          url: "/site_article_list/list",
            url: "/get",
            dataType:'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){
                if(jsonData.success == true){
                    show_article_list(jsonData.results, jsonData.has_more, begin_id, catalog_id, code);
//                    if(JSON.stringify(jsonData.results).length <= 2){
//                        alert("当前库下无稿件。");
//                    }
                }
            }
        });
    }

    //显示稿件列表
    function show_article_list(article_list, has_more, begin_id, catalog_id, code){
        g_has_more = has_more;
        if(begin_id == 0){
            g_articles_begin = 0;
            var list = document.getElementById('doc-article-list');
            list.innerHTML = "";
//            removeHistoryPage();
            removeAppHistoryPage();
            $('html, body').animate({scrollTop: 0}, '500');
        }
        for(var i in article_list){
            var article_node = document.createElement('li');
            article_node.onclick = "show_article_detail(" + article_list[i].id+","+article_list[i].article_libid+ ","  + catalog_id + "," + code + ");";
            article_node.className = "am-g am-list-item-desced";
            article_node.article_id = article_list[i].id;
            article_node.style.paddingLeft = "3%";
            article_node.setAttribute("article_id", article_list[i].id);
            article_node.setAttribute("article_libid", article_list[i].article_libid);
            article_node.setAttribute("catalog_id", catalog_id);
            article_node.setAttribute("code", code);
            var title_node = document.createElement('a');
            title_node.className = "am-list-title";
            title_node.innerText = article_list[i].title;
            title_node.style.overflow = "hidden";
            title_node.style.textOverflow = "ellipsis";
            title_node.style.display = "-webkit-box";
            title_node.style.wordBreak = "break-all";
            title_node.style.webkitBoxOrient = "vertical";
            title_node.style.webkitLineClamp = "2";
            title_node.style.height = "58px";
//            title_node.href = "javascript:show_article_detail(" + article_list[i].id+","+article_list[i].article_libid  + ");";
            var detail_node = document.createElement('span');
            if(article_list[i].type == "text")
                detail_node.className = "am-list-date am-icon-file-word-o";
            else if(article_list[i].type == "image")
                detail_node.className = "am-list-date am-icon-file-image-o";
            else if(article_list[i].type == "video")
                detail_node.className = "am-list-date am-icon-file-movie-o";
            else
                detail_node.className = "am-list-date";
            var meta_info = '';
            meta_info += ' ' + article_list[i].status;
            meta_info += ' ' + article_list[i].author;
            meta_info += ' ' + article_list[i].opt_time.substring(5,16);
            detail_node.innerText = meta_info;
            article_node.appendChild(title_node);
            article_node.appendChild(detail_node);
            document.getElementById('doc-article-list').appendChild(article_node);
            g_articles_begin += 1;
        }

        if(has_more){
            $("#doc-scroll-more").show();
        }
        else{
            $("#doc-scroll-more").hide();
        }

        //myScroll.refresh();
        //myScroll.scrollTo(0, 40, 0, $.AMUI.iScroll.utils.circular);
    };

    function show_article_detail(article_id, article_libid, catalog_id, code){

        var scrollTop = getScroll().scrollTop;
        var history_json = {
            content:document.getElementById('doc-article-list').innerHTML,
            begin:g_articles_begin,
            has_more:g_has_more,
            scrollTop:scrollTop
        };

        //        saveHistoryPage(JSON.stringify(history_json));
        saveAppHistoryPage(JSON.stringify(history_json));
        var cat_name = document.getElementById('doc-select-catalog-name').innerHTML;
        var cat_child_name = document.getElementById('doc-select-catalog-child-name').innerHTML;
        localStorageSetItem('app-catalog-name', cat_child_name);
        window.location.href = "/article_detail?article_id="+ article_id + "&article_libid=" + article_libid + "&lib_type=app" + "&cat_name=" + cat_name + "&cat_child_name=" + cat_child_name + "&position=source" + "&column_id=" + catalog_id + "&code=" +code  ;

    };

    $(function(){

        $("#doc-article-list").delegate("li", "click", function(){

            var article_id = $(this).attr("article_id");
            var article_libid = $(this).attr("article_libid");
            var catalog_id = $(this).attr("catalog_id");
            var code = $(this).attr("code");
            show_article_detail(article_id ,article_libid,catalog_id,code,this);

        });

        var cat = document.getElementById('doc-select-catalog-name');
        if(window.localStorage){
            var catalog_name = window.localStorage.getItem('app-catalog-name');
            g_select_catalog_id = window.localStorage.getItem('app-catalog-id');
            g_catalog_code = window.localStorage.getItem('app-catalog-code');
            cat.innerText = catalog_name;
        }
        if(g_select_catalog_id <= 0){

            $("#doc-form-all").hide();
            $("#doc-list-operation").hide();
            choose_catalog_list();
            return;
        }

//        load_article_list(g_select_catalog_id, g_articles_begin);

//        var history_json_string = getHistoryPage();
        var history_json_string = getAppHistoryPage();
        if(history_json_string != null){

            var history_json = JSON.parse(history_json_string);
            document.getElementById('doc-article-list').innerHTML = history_json.content;
            g_articles_begin = history_json.begin;
            if(history_json.has_more){
                $("#doc-scroll-more").show();
            }
            else{
                $("#doc-scroll-more").hide();
            }

            $('html, body').animate({scrollTop: history_json.scrollTop}, '0');
        }
        else{

            load_article_list(g_select_catalog_id, g_articles_begin,g_catalog_code);
        }

        $('#doc-scroll-more').on('inview.scrollspy.amui', function() {

            load_article_list(g_select_catalog_id, g_articles_begin,g_catalog_code);
        });

        $('#doc-scroll-refresh').on('inview.scrollspy.amui', function() {

            load_article_list(g_select_catalog_id, 0, g_catalog_code);
        });
    });

    var is_confirm_back = true;
    function return_back_home(){

        if(g_is_choose_catalog){
            $("#doc-form-all").show();
            $("#doc-catalog-list").hide();
            $("#doc-list-operation").show();
            g_is_choose_catalog = false;
        }
        else{
            window.history.go(-1);
        }
    }
</script>
</body>
</html>
