<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content=""> <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= app_title%></title> <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
  <!--<meta name="msapplication-TileColor" content="#59B19A">-->
  <meta name="msapplication-TileColor" content="#59B19A">
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../assets/css/font.css?v=1">
  <style>

  </style>
</head>
<body style="background-color: #FDFDFE">

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/cookie.js"></script>
<!--<![endif]-->
<script>

  var modulePerm = "";

  $(function(){
	  var type = "<%= type%>";
      if(type.indexOf("??")>-1){
          var re = new RegExp("\\?\\?","g");
          type = type.replace(re,"&");
      }
	  localStorage.setItem('user_name',"<%= user_name%>");
      localStorage.setItem('modulePerm',"<%= module_perm%>");
      localStorage.setItem('loToken',"<%= loToken%>");
      var exp = new Date();
      exp.setTime(exp.getTime() + 7*24*60*60*1000);
      document.cookie = "user_key="+ "<%= user_key%>" + ";expires=" + exp.toGMTString();
      
      var url = "";
      if(type =="article_upload"){
    	 url = "/article_upload?articleKind=article";
      }else if(type=="picture_upload"){
    	  url="/article_upload?articleKind=picture";
      }else if(type=="video_upload"){
    	  url="/article_upload?articleKind=video";
      }else{
    	  url="/"+type;
      }
      
      window.location.href=url;
  });

</script>
</body>
</html>