<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content=""> <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>正在跳转</title> <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#59B19A">
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">
  <script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/amazeui.min.js"></script>
  <script src="../assets/js/jQuery.md5.js"></script>
  <script src="../javascripts/fzcommon.js?v=2"></script>
  <script src="../assets/js/cookie.js"></script>
</head>
<body>

<script>

$(function(){
  var loToken = window.localStorage.getItem('loToken');

//  if(loToken.length > 0){
//    window.location.href = "/AutoLogin?code=" + "<%= code%>" + "&hasToken=1" + "&loToken=" + loToken;
//  }else{
//    window.location.href = "/AutoLogin?code=" + "<%= code%>" + "&hasToken=0" + "&loToken=" + loToken;
//  }

   //window.location.href = "/AutoLogin?code=" + "<%= code%>" + "&loToken=" + loToken;
    $("#loToken").val(loToken);
    $("#jumpform").submit();
})
</script>
<div style="display: none;">
    <form action="/AutoLogin" method="post" id="jumpform" >

        <input type="hidden" name="code" value="<%= code%>"/>

        <input type="hidden" id="loToken" name="loToken" />

        <input type="submit" value="提交"/>

    </form>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->

<!--<![endif]-->
</body>
</html>