<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>附近的人</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#59B19A">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../javascripts/common.js"></script>
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
        }

        #golist {
            display: none;
        }

        @media (max-device-width: 780px) {
            #golist {
                display: block !important;
            }
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?type=quick&ak=1ZtQkeXgxF3TsxWbQxUOTAYW&v=1.0"></script>
</head>
<body>
<div id="doc-dept-operation" data-am-widget="titlebar" class="am-titlebar am-titlebar-default" style="margin-top: 0%">
    <h2 class="am-titlebar-title">附近的人</h2>
    <nav class="am-titlebar-nav">
        <a href="javascript:check_out();">
            <span><small>签到</small></span>
            <i class="am-icon-check"></i>
        </a>
    </nav>
</div>
<div id="allmap"></div>
<div></div>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    map.centerAndZoom(new BMap.Point(116.313802, 40.046944), 14);
    var json_info = [];
    var info = {"face": "/images/me.png", "title": "我", "info": "正在采访某小区维权事件［09:23］"};
    json_info.push(info);
    info = {"face": "/images/faceboy.png", "title": "李斯", "info": "正在采访车展活动［09:21］"};
    json_info.push(info);
    info = {"face": "/images/facegirl.png", "title": "陈六", "info": "正在采访拆迁房问题［09:20］"};
    json_info.push(info);
    info = {"face": "/images/faceboy2.png", "title": "王吴", "info": "正在采访的路上［09:01］"};
    json_info.push(info);
    info = {"face": "/images/facegirl2.png", "title": "李逵", "info": "休假中［10:29］"};
    json_info.push(info);
    info = {"face": "/images/facegirl.png", "title": "李逵", "info": "休假中［10:29］"};
    json_info.push(info);
    function addMarker(point, index) {  // 创建图标对象

        var i = index % 5;
        var size = 25;
        if (index == 0) {
            i = -1;
            size = 40;
            point = new BMap.Point(116.313802, 40.046944);
        }

        var myIcon = new BMap.Icon(json_info[i + 1].face,
                new BMap.Size(size, size), {
                    // 指定定位位置。
                    // 当标注显示在地图上时，其所指向的地理位置距离图标左上
                    // 角各偏移7像素和25像素。您可以看到在本例中该位置即是
                    // 图标中央下端的尖角位置。
                    anchor: new BMap.Size(7, 25)
                });
        // 创建标注对象并添加到地图
        var marker = new BMap.Marker(point, {icon: myIcon});
        marker.addEventListener("click", function () {
            var opts = {
                width: 100,     // 信息窗口宽度
                height: 80,     // 信息窗口高度
                title: json_info[i + 1].title  // 信息窗口标题
            }
            var infoWindow = new BMap.InfoWindow(json_info[i + 1].info, opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, this.getPosition());      // 打开信息窗口
        });

        map.addOverlay(marker);
    }
    // 随机向地图添加10个标注
    var bounds = map.getBounds();
    var lngSpan = bounds.getNorthEast().lng - bounds.getSouthWest().lng;
    var latSpan = bounds.getNorthEast().lat - bounds.getSouthWest().lat;
    for (var i = 0; i < 25; i++) {
        var point = new BMap.Point(bounds.getSouthWest().lng + lngSpan * (Math.random() * 0.7 + 0.15), bounds.getSouthWest().lat + latSpan * (Math.random() * 0.7 + 0.15));
        addMarker(point, i);
    }
</script>
<script>

    function check_out() {

        fn_show_tips('签到成功，请在一个小时后回来继续签到。');
    }
</script>
</body>
</html>
