<!doctype html>
<html class="no-js" style="font-size: 75%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>纸媒稿件签发</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#59B19A">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/override.css">
    <style type="text/css">
        #date-error-msg{
            display: none;
            margin-top: 1%;
            padding-left: 5%;
            margin-bottom: 3%;
        }

        #public-time-input{
            width: 94%;
            padding: 2%;
            font-size: 80%;
            margin-left: 6%;
            display: inline-block;
        }

        #sign-status-div{
            display: none;
        }
        #sign-status-des{
            margin-top: 4%;
            padding-left: 5%;
            margin-bottom: 3%;
        }
        #choose-sign-status>div{
            width: 20%;
            color: #454545;
            margin-left: 5%;
            text-align: center;
            border: solid 1px #dddddd;
            display: inline-block;
        }
        #choose-sign-status>.selected{
            color: #59B19A;
            border: solid 1px #59B19A;
        }
        #choose-sign-status small{
            cursor: pointer;
            line-height: 3rem;
        }

        #choose-make-color>div, #choose-make-pic-formate>div{
            color:#454545;
            width: 15%;
            margin-left: 2%;
            text-align: center;
            display: inline-block;
            border: solid 1px #dddddd;
        }
        #choose-make-color>div.selected, #choose-make-pic-formate>div.selected{
            color: #59B19A;
            border: solid 1px #59B19A;
        }
        #choose-make-color>div small, #choose-make-pic-formate>div small{
            cursor: pointer;
            line-height: 3rem;
        }

        #send-make-div{
            width: 60%;
            margin-left: 5%;
            text-align: center;
            display: inline-block;
            border-radius: 0.5rem;
            border: solid 1px #59B19A;
        }

        [id*='choosed-catalog-a-']{
            color: #59B19A;
            overflow: hidden;
            font-size: 1.3rem;
            margin-left: 3rem;
            white-space: nowrap
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>

<header id="doc-dept-operation" data-am-widget="header" class="am-header am-header-default">
    <div class="am-header-left am-header-nav">
        <a href="javascript:returnBack();">
            <img src="../images/navbar/return.png" style="height: 2rem;padding-left: 1rem;padding-right: 1rem">
        </a>
    </div>
    <h1 id="header-title" class="am-header-title" style="font-size: 1.5rem">纸媒</h1>

    <div class="am-header-right am-header-nav">
        <a href="javascript:sign_article();" id="ok">
            <img src="../images/navbar/submit.png"><span class="am-header-nav-title">签发</span>
        </a>
    </div>
</header>
<div>
    <div style="padding-left: 5%;margin-top: 4%;margin-bottom: 3%">
        <small>1.请选择纸媒和栏目</small>
    </div>
    <div id="doc-catalog-list" style="margin-top: 0.5%">
        <div id="doc-catalog-list-tpl" class="am-list-news-bd" style="font-size: 1.3rem">
        </div>
    </div>

    <div style="padding-left: 5%;margin-top: 4%;margin-bottom: 3%">
        <small>2.请选择上版时间</small>
    </div>
    <div id="my-datepicker-box" class="am-input-group am-datepicker-date" data-am-datepicker="{format: 'yyyy-mm-dd'}"
         style="width: 100%">
        <input id="public-time-input" type="text" class="input-date" placeholder="请选择发布时间" readonly>
        <span class="am-input-group-btn am-datepicker-add-on" style="clear: none">
            <button id="doc-datepicker" type="button" style="border: none;background-color: transparent;">
                <img src="../images/date-choose.png">
            </button>
        </span>
    </div>
    <div id="date-error-msg"><small style="color: red;">请选择当前日期之后的日期!</small></div>
    <hr data-am-widget="divider" class="am-divider am-divider-default"/>

    <!-- 存储栏目和版面的值 -->
    <a id="doc-select-column" data_column_id="-1" style="padding-left: 4%;display: none">
        <small><i class="am-icon-bars"></i>发布栏目</small>
    </a>
    <a id="doc-select-layout" data_layout_id="-1" style="padding-left: 4%;display: none">
        <small><i class="am-icon-bars"></i>发布版面</small>
    </a>

    <div id="choose-layout-div">
        <div id="choose-layout-title-div" style="padding-left: 5%;margin-top: 4%;margin-bottom: 3%">
            <small>3.请选择版面</small>
        </div>
        <div id="doc-layout-list" style="margin-top: 0.5%;">
            <div id="doc-layout-list-tpl" class="am-list-news-bd"></div>
        </div>
    </div>

    <div id="sign-status-div">
        <div id="sign-status-des">
            <small>4.请选择状态</small>
        </div>
        <div id="choose-sign-status">
            <div id="sign-true" sign-status="true" class="selected">
                <small id="lan-small">签发</small>
            </div>
            <div id="sign-false" sign-status="false">
                <small id="ban-small">预签</small>
            </div>
            <hr data-am-widget="divider" class="am-divider am-divider-default"/>
        </div>
    </div>

    <div id="all-send-make-div" style="display: none">
        <div style="padding-top: 10px">
            <div style="padding-left: 3%;display: inline-block">
                <small style="color: #999999">是否送制作:</small>
            </div>
            <div id="send-make-div" onclick="is_send_make()">
                <small id="send-make-small" style="line-height: 3rem;color: #59B19A">送制作</small>
            </div>
        </div>
        <div id="choose-send-div" style="display:none;padding-top: 10px">
            <div id="choose-make-color">
                <a style="padding-left: 4%">
                    <small>颜色:</small>
                </a>

            </div>
            <div id="choose-make-pic-formate" style="padding-top: 10px">
                <a style="padding-left: 4%">
                    <small>格式:</small>
                </a>


            </div>
        </div>
        <hr id="under-send-make_hr" data-am-widget="divider" class="am-divider am-divider-default"/>
    </div>
</div>
<div>
    <form class="am-form">
        <fieldset style="background-color: #FFFFFF;margin: 0px;padding: 0px">
            <div>
                <div class="am-form-group">
                    <textarea class="" rows="2" id="doc-note" placeholder="请输入签发意见" minlength="1" style="border: none"></textarea>
                </div>
                <hr data-am-widget="divider" class="am-divider am-divider-default"/>
                <!--<hr data-am-widget="divider" style="position:relative;width: 106%;left:-3%" class="am-divider am-divider-default" />-->
            </div>
        </fieldset>
    </form>
</div>

<div style="height: 15px"></div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 0">
    <a href="#top" title="回到顶部">
        <img style="height: 3rem" src="../images/top.png">
    </a>
</div>

<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="../assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="../javascripts/common.js"></script>
<!--<![endif]-->

<script>

    var g_choose_color = "#15afef";
    var g_no_choose_color = "white";

    // 当前日期
    var nowTemp = new Date();
    var nowDay = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
    var nowMoth = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), 1, 0, 0, 0, 0).valueOf();
    var nowYear = new Date(nowTemp.getFullYear(), 0, 1, 0, 0, 0, 0).valueOf();

    var isMOdifyBefore = false;
    var $my_datepicker = $("#my-datepicker-box");

    $(function () {
        // 图片的话,启用送制作
        var article_type = "<%= article_type%>";
        var has_img = "<%= has_img%>";
        if (article_type == "image" || (article_type == "text" && has_img == 1)) {
            $("#all-send-make-div").show();
        }
        // 设置日期默认值
        //$my_datepicker.datepicker('setValue', nowDay);
        choose_catalog_list();
    });

    // 设置不能选择当前日期之前的日期
    $my_datepicker.datepicker({
        onRender: function (date, viewMode) {
            if(isMOdifyBefore)
                return '';

            // 默认 days 视图，与当前日期比较
            var viewDate = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
            switch (viewMode) {
                // moths 视图，与当前月份比较
                case 1: viewDate = nowMoth; break;
                // years 视图，与当前年份比较
                case 2: viewDate = nowYear; break;
            }
            return date.valueOf() < viewDate ? 'am-disabled' : '';
        }
    });
    // 日期的修改事件
    $my_datepicker.on('changeDate.datepicker.amui', function(ev) {
        //$("#date-error-msg").css({"display": ev.date.valueOf() < nowDay ? "block" : "none"});
    });

    // 签发状态的改变
    var g_sign_status = "false";
    $("#choose-sign-status>div").click(function () {
        $("#choose-sign-status>div").removeClass("selected");
        g_sign_status = $(this).addClass("selected").attr("sign-status");
    });


    // 送制作的颜色和格式
    var g_make_color = "caise";
    var g_pic_formate = "jpg";

    getSendMakeFormatsAndColor();
    function returnBack() {
        history.go(-1);
    }

    /*----------加载栏目树------*/

    function get_catalog_info(catalog_id) {

        var catalog_info = {"id": 0, "parent_id": 0};
        $.each(g_catalogs, function () {
            if (this.id == catalog_id) {

                catalog_info = this;
            }
        });
        return catalog_info;
    }

    function is_catalog_has_child(catalog_id) {
        var has_child = false;
        $.each(g_catalogs, function () {
            if (this.parent_id == catalog_id) {
                has_child = true;
            }
        });
        return has_child;
    }

    var g_catalog_html = "";
    var g_choose_root_id = 0;
    var g_id = 0;

    //展示某个分类下的所有子分类
    function list_child_catalog(catalog_id, isRoot) {

        if (isRoot) {
            g_choose_root_id = catalog_id;
        }

        if (is_catalog_has_child(catalog_id) == false) {
            fn_show_tips('已经没有下一级了。');
            return;
        }

        var $ul = $("<ul></ul>", {"class": "am-list am-avg-sm-1"}).appendTo($("#doc-catalog-list-tpl").empty());

        if(catalog_id > 0) {
            var catalog_info = get_catalog_info(catalog_id);
            $ul.append(
                '<li style="width:100%;text-align:center" onclick="list_child_catalog(' + catalog_info.parent_id + ')">' +
                    '<a class="am-list-item-hd" style="color: #98999D">' +
                        '<img style="height: 1.6rem" src="../images/return-level.png">' + '&nbsp;返回上一级&nbsp;&nbsp;(' + catalog_info.name + ')' +
                    '</a>' +
                '</li>'
            )
        }

        $.each(g_catalogs, function () {
            //console.log(this)
            if (this.parent_id == catalog_id) {
                var me = this, id = this.id, name = this.name, isRoot = (this.parent_id == 0),paperMinDate = this.paperMinDate;
                // 可上栏权限
                var canOnColumn = me.canOnColumn;
                // 可预签权限
                var canPreSign = me.canPreSign;
                // 可组版权限
                var canMakeLayout = me.canMakeLayout;
                // 至少有一个权限时才显示
                if(canOnColumn || canPreSign || canMakeLayout){
                    var $li = $("<li></li>").appendTo($ul);

                    if(!isRoot){
                        $li.click(function () {
                            select_catalog(me);
                            //设置上版时间
                            $("#public-time-input").val(paperMinDate);
                        })
                    }


                    // 添加 name
                    var $img = $('<img name="catalog-select-check" id="' + 'doc-catalog-select-' + id + '" style="height: 1rem" src="../images/no-choose.png">');
                    $("<a></a>", { "class":"am-list-item-hd"}).appendTo($li)
                            .append($img)
                            .append($("<span></span>", { text:name }))
                            .append($("<span></span>",{ id:"choosed-catalog-a-" + id }));


                    if (is_catalog_has_child(id)){
                        // 添加箭头 >
                        $("<a></a>", { "class":"am-list-item-hd am-fr"}).appendTo($li)
                                .append($("<i></i>", { "class": "am-icon-angle-right" }))
                                .click(function () { list_child_catalog(id, isRoot); return false; });
                    }
                }
            }
        });


        if (catalog_id <= 0) {
            g_catalog_html = $ul.clone(true, true);
        }
    }

    //点击弹出选择报纸栏目分类页面
    var g_catalogs = [];
    function choose_catalog_list() {
        var loToken = localStorage.getItem('loToken');
        var q = "method=paperCatalog" + "&perm=sign" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
        var data = {"m": "", "q": q};
        //以post方式提交数据
        $.ajax({
            type: "GET",
            url: "/get",

            dataType: 'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){

                if (jsonData.success == true) {
                    g_catalogs = jsonData.results;

                    var catalog_info = get_catalog_info(0);

                    //获取第一个媒体上版日期
                    var firestCatalogData = jsonData.results[0].paperMinDate;
                    //日期可选范围
                    var chooseBeforeDate = jsonData.results[0].beforeDate;
                    if(chooseBeforeDate == true){
                        $(".am-disabled").removeClass("am-disabled");
                        isMOdifyBefore = true;
                    }

                    list_child_catalog(catalog_info.parent_id, 0);

                    //如果有媒体则获取第一个媒体上版日期，没有则显示当天时间
                    if(firestCatalogData){
                        $("#public-time-input").val(firestCatalogData);
                        $my_datepicker.datepicker('setValue', firestCatalogData);
                    }else{
                        $my_datepicker.datepicker('setValue', nowDay);
                    }
                }

            }
        });
    }

    /*------加载栏目树end-----------*/

    /*-----加载栏目下的版面列表--------*/
    var g_layouts = "";
    function select_catalog(item) {
        var name = item.name, column_id = item.id,
                paper_id = item.paper_id, paperMinDate = item.paperMinDate;
        // 可上栏权限
        var canOnColumn = item.canOnColumn;
        // 可预签权限
        var canPreSign = item.canPreSign;
        // 可组版权限
        var canMakeLayout = item.canMakeLayout;

        // -- 设置报纸的最小签发日期 start
        // 每个报纸可能不一样
        if(paperMinDate){
            // 没有字符串转换为日期方法, 就简单使用 split
            var arr = paperMinDate.split("-");
            nowDay = new Date(parseInt(arr[0]), parseInt(arr[1]) - 1, parseInt(arr[2]), 0, 0, 0, 0).valueOf();
        } else {
            nowDay = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
        }

        var pickerVal = $my_datepicker.find("input[type='text']").val();
        var arrs = pickerVal.split("-");

        pickerVal = new Date(parseInt(arrs[0]), parseInt(arrs[1]) - 1, parseInt(arrs[2]), 0, 0, 0, 0).valueOf();
        if(pickerVal < nowDay){
            $my_datepicker.datepicker('setValue', nowDay)
        }

        // -- 设置报纸的最小签发日期 end

//        var column_checks = document.getElementsByName('column-select-check');
        var column_checks = document.getElementsByName('catalog-select-check');
        $.each(column_checks, function () {

//            var column_check_id = "doc-column-select-" + column_id;
            var column_check_id = "doc-catalog-select-" + column_id;
            if (this.id == column_check_id) {

                this.src = "../images/choose.png";
                this.parentElement.style.color = "#59B19A";
                var select_column = document.getElementById("doc-select-column");
                select_column.setAttribute("data_column_id", column_id);
            } else {
                this.src = "../images/no-choose.png";
                this.parentElement.style.color = "#454545";
            }
        });

        $("#doc-catalog-list-tpl").empty().append(g_catalog_html.clone(true, true));

        if (item.parent_id == 0) {
            g_choose_root_id = column_id;
        }

        $("#choosed-catalog-a-" + g_choose_root_id).prepend(name);
        //console.log(item)
        if(!canOnColumn){
            fn_show_tips("该栏目没有上栏权限");
        }

        $("#sign-status-div").css({"display": "none"});

        $("#sign-true").css({"display": canMakeLayout ? "" : "none"});
        $("#sign-false").css({"display": canPreSign ? "" : "none"});

        $("#sign-true, #sign-false").removeClass("selected");
        ( canMakeLayout ? $("#sign-true") : $("#sign-false") ) ["addClass"]("selected");


        // 没有 签发,预签 权限时
        if(!canMakeLayout && !canPreSign){
            list_layout(-1);
            return;
        }
        var loToken = localStorage.getItem('loToken');
        var q = "method=paperLayout" + "&column_id=" + column_id + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
        var data = {"m": "", "q": q};

        //以post方式提交数据
        $.ajax({
            type: "GET",
            url: "/get",
//            url: "/catalog/sign_layouts",

            dataType: 'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){

                if (jsonData.success == true) {
                    g_layouts = jsonData.results;
                    $("choose-layout-div").css({"display": jsonData.perm ? "block" : "none"});
                    list_layout(column_id);
                }
            }
        });
    }

    function list_layout(column_id) {

        if (column_id < 0) {
            $("#choose-layout-div").css({"display": "none"});
            $("#doc-layout-list-tpl").empty();
            return;
        }

        $("#choose-layout-div").css({"display": "block"});

        var layout_list_html = '<div id = "doc-layout-list-tpl" class="am-list-news-bd">';
        layout_list_html += '<ul class="am-list" >';

        $.each(g_layouts, function () {
            layout_list_html += '<li style="padding-left: 5%"><a onclick="select_layout(' + this.id + ');" class="am-list-item-hd" style="font-size:80%">';
            layout_list_html += '<img name="layout-select-check" id="' + 'doc-layout-select-' + this.id + '"  style="height: 1rem" src="../images/no-choose.png">';
//            layout_list_html += '<i name="layout-select-check" id="' + 'doc-layout-select-' + this.id + '" class="am-icon-square-o"></i>';
            layout_list_html += '&nbsp;&nbsp;' + this.name + '</a></li>';
        });
        layout_list_html += '</ul>';
        layout_list_html += '</div>';

        $("#doc-layout-list-tpl").replaceWith(layout_list_html);
    }

    function select_layout(layout_id) {

        var layout_checks = document.getElementsByName('layout-select-check');
        var $doc_select_layout = $("#doc-select-layout");
        if(layout_id == $doc_select_layout.attr("data_layout_id")){
            layout_id = -1;
        }
        $doc_select_layout.attr("data_layout_id", layout_id)
        $.each(layout_checks, function () {
            var layout_check_id = "doc-layout-select-" + layout_id;
            if (this.id == layout_check_id) {
                this.src = "../images/choose.png";
                this.parentElement.style.color = "#59B19A";
            }
            else {
                this.src = "../images/no-choose.png";
                this.parentElement.style.color = "#454545";
            }
        });

        $("#sign-status-div").css({"display": layout_id > 0 ? "block" : "none"});
    }

    /*------加载版面列表end----------*/

    function GetDateStr(AddDayCount) {
        var dd = new Date();
        dd.setDate(dd.getDate() + AddDayCount);//获取AddDayCount天后的日期
        var y = dd.getFullYear();
        var m = dd.getMonth() + 1;//获取当前月份的日期
        var d = dd.getDate();
        return y + "-" + m + "-" + d;
    }

    function getSendMakeFormatsAndColor() {
        $("#choose-make-pic-formate div").remove();
        var loToken = localStorage.getItem('loToken');
        var q = "method=getSendMakeFormatsAndColors" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
        var data = {"m": "", "q": q};

        //以post方式提交数据
        $.ajax({
            type: "GET",
            url: "/get",
            dataType: 'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){
                if (jsonData.success == true) {
                    var info = jsonData.results;
                    var formats = info.formats;
                    var colors = info.colors;

                    var send_formats = formats.split(";");
                    $.each(send_formats, function () {
                        if(this == "JPG"){
                            var jpg_div = "<div id='jpg-div' make-pic-formate='jpg'><small id='jpg-small'>JPG</small></div>";
                            $("#choose-make-pic-formate").append(jpg_div);
                        }else if(this == "TIF"){
                            var tif_div = "<div id='tiff-div' make-pic-formate='tif'><small id='tiff-small'>TIF</small></div>";
                            $("#choose-make-pic-formate").append(tif_div);
                        }
                    });
                    var send_colors = colors.split(";");
                    $.each(send_colors, function () {
                        if(this == "彩色"){
                            var caise_div = "<div id='caise-div' make-color='caise'><small id='caise-small'>彩色</small></div>";
                            $("#choose-make-color").append(caise_div);
                        }else if(this == "灰色"){
                            var huise_div = "<div id='huise-div' make-color='huise'><small id='huise-small'>灰色</small></div>";
                            $("#choose-make-color").append(huise_div);
                        }else if(this == "双色"){
                            var shuangse_div = "<div id='shuangse-div'  make-color='shuangse'><small id='shuangse-small'>双色</small></div>";
                            $("#choose-make-color").append(shuangse_div);
                        }else if(this == "单色"){
                            var danse_div = "<div id='danse-div' make-color='danse'><small id='danse-small'>单色</small></div>";
                            $("#choose-make-color").append(danse_div);
                        }
                    });

                    $("#choose-make-pic-formate >div:first").addClass("selected");
                    $("#choose-make-color >div:first").addClass("selected");
                    $("#choose-make-color>div").click(function () {
                        $("#choose-make-color>div").removeClass("selected");
                        g_make_color = $(this).addClass("selected").attr("make-color");
                    });
                    $("#choose-make-pic-formate>div").click(function () {
                        $("#choose-make-pic-formate>div").removeClass("selected");
                        g_pic_formate = $(this).addClass("selected").attr("make-pic-formate");
                    });
                }
            }
        });

    }

    function return_back_home() {

        window.history.go(-1);
    }

    var g_is_send_make = 0;
    function is_send_make() {
        if (g_is_send_make == 0) {
            g_is_send_make = 1;
            document.getElementById('send-make-div').style.backgroundColor = "#59B19A";
            document.getElementById('send-make-small').style.color = "white";
            $('#choose-send-div').show();
        } else {
            g_is_send_make = 0;
            document.getElementById('send-make-div').style.backgroundColor = "white";
            document.getElementById('send-make-small').style.color = "#59B19A";
            $('#choose-send-div').hide();
        }
        var scroll_offset = $("#choose-send-div").offset().top;

        $("body,html").animate({

            scrollTop: scroll_offset

        }, 1000);

    }

    function sign_article() {

        var column_id = document.getElementById("doc-select-column").getAttribute("data_column_id");
        var layout_id = document.getElementById("doc-select-layout").getAttribute("data_layout_id");

        var signDate = $('input.input-date').val();

        if (column_id <= 0) {
            fn_show_tips('请选择栏目');
            return;
        }


        var sign_status = $("#choose-sign-status>.selected").attr("sign-status") == "false";
        var g_state = layout_id < 0 ? "column" : sign_status ? "preSign" : "layout";

        if(g_state === "column"){
            var canOnColumn = true;
            $.each(g_catalogs, function () {
                if(this.id == column_id){
                    canOnColumn = this.canOnColumn;
                    return false;
                }
            });
            if(!canOnColumn){
                fn_show_tips("该栏目没有上栏权限");
                return;
            }
        }


       /* if(signDate < nowDay){
            fn_show_tips("请选择当前日期之后的日期")
            $("#date-error-msg").css({"display": "block"});
            return;
        }
*/
        var note = document.getElementById('doc-note').value;
//        if(note.length == 0){
//            fn_show_tips('请填写签发意见');
//            return;
//        }

        var sendColor = 1;
        if (g_make_color == "danse") {
            sendColor = 1;
        } else if (g_make_color == "shuangse") {
            sendColor = 2;
        } else if (g_make_color == "huise") {
            sendColor = 8;
        } else if (g_make_color == "caise") {
            sendColor = 24;
        }
        var loToken = localStorage.getItem('loToken');
        var data = {
            "article_id": '<%= article_id %>',
            "article_libid": '<%= article_libid %>',
            "column_id": column_id,
            "layout_id": layout_id,
            "state": g_state,
            "is_send_make": g_is_send_make,
            "make_color": sendColor,
            "make_formate": g_pic_formate,
            "sign_date": signDate,
            "note": note,
            "loToken": loToken
        };

        //以post方式提交数据
        $.ajax({
            type: "GET",
            url: "/article_detail/paper_sign_opt",

            dataType: 'json',
            data: data,
            contentType: "application/json",
            beforeSend:function(){
                $("#ok").attr("href","#");
            },
            success:function(jsonData){

                if (jsonData.success == true) {

                    fn_show_tips("稿件签发成功。");
                    setTimeout(function () {
                        window.history.go(-3);
//                        var artId = "<%= article_id %>";
//                        window.location.href = "/article_detail?articleId="+artId;
                    }, 1500);
                }
            }
        });
    }

</script>
</body>
</html>
