<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>纸媒栏目分类</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#59B19A">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <link rel="stylesheet" href="../stylesheets/override.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../assets/js/cookie.js"></script>
    <script type="text/javascript" src="../javascripts/common.js"></script>
</head>
<body style="background-color: #EEEFF1">
<div id = "doc-form-all">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <div>
                <a id="doc-header-return-a" href="javascript:returnBack();" ><img src="../images/navbar/return.png"></a><span>&nbsp;</span><span id="doc-select-catalog-name" style="color: #FFFFFF"></span>
            </div>
        </div>
        <div class="am-header-right am-header-nav">
            <div>
                <a href="javascript:list_articles_refresh();"><img src="../images/list/refresh-icon.png"></a><a href="javascript:returnHome()"><img src="../images/list/home-icon.png"></a>
            </div>
        </div>
    </header>
</div>

<div id="doc-catalog-list">
    <div id = "doc-catalog-list-tpl" class="am-list-news-bd">
     </div>
</div>

<script>
    var g_is_choose_catalog = false;//是否弹出选择分类树
    var g_articles_begin = 0;//从第几个稿件位置开始加载
    var g_select_catalog_id = -1;
    var g_is_article_list = false;//是否在文章列表界面

    function list_articles_refresh(){
        choose_catalog_list();
    }

    function newArticle(){
        window.location.href = "/article_upload/turnNew";
    }

    //导航栏返回按钮
    function returnBack(){
        history.go(-1);
    }

    //返回首页
    function returnHome(){
        window.location.href = "/home?loginToHome=0&timestamp" + (new Date()).getTime();
    }

    function get_catalog_info(catalog_id){

        var catalog_info = {"id":0,"parent_id":0};
        $.each(g_catalogs, function(){
            if(this.id == catalog_id){

                catalog_info = this;
            }
        });
        return catalog_info;
    };

    function is_catalog_has_child(catalog_id){

        var has_child = false;
        $.each(g_catalogs, function(){
            if(this.parent_id == catalog_id){

                has_child = true;
            }
        });
        return has_child;
    }

    //展示某个分类下的所有子分类
    function list_child_catalog(catalog_id){

        if(is_catalog_has_child(catalog_id) == false){
            fn_show_tips('已经没有下一级了。');
            return;
        }

        var $ul = $("<ul></ul>", {"class": "am-list am-avg-sm-1"}).appendTo($("#doc-catalog-list-tpl").empty());

        if(catalog_id > 0) {
            var catalog_info = get_catalog_info(catalog_id);
            if(catalog_info.parent_id != 0){
                $ul.append(
                    '<li style="width:100%;text-align:center" onclick="list_child_catalog(' + catalog_info.parent_id + ')">' +
                        '<a class="am-list-item-hd" style="color: #98999D">' +
                            '<img style="height: 1.6rem" src="../images/return-level.png">' + '&nbsp;返回上一级&nbsp;&nbsp;(' + catalog_info.name + ')' +
                        '</a>' +
                    '</li>'
                )
            }

        }

        $.each(g_catalogs, function(){
            if(this.parent_id == catalog_id){
                var id = this.id, name = this.name,paper_id=this.paper_id,paperMinDate=this.paperMinDate;

                var $li = $("<li></li>").appendTo($ul).click(function () { select_catalog(id, name,paper_id, paperMinDate); });

                // 添加 name
                $("<a></a>", { "class":"am-list-item-hd" }).appendTo($li).append($("<span></span>", { text:name }));

                if (is_catalog_has_child(id)){
                    // 添加箭头 >
                    $("<a></a>", { "class":"am-list-item-hd am-fr"}).appendTo($li)
                            .append($("<i></i>", {"class": "am-icon-angle-right"}))
                            .click(function () { list_child_catalog(id); return false; });

                }

            }
        });
    }

    function select_catalog(id, name, paper_id, paperMinDate){
        window.location.href = "/paper_article_list/columnList?column_paper_id=" + paper_id + "&catalog_id=" + id + "&catalog_name=" + name + "&paper_name=" + "<%= paper_name%>"+"&paperMinDate="+paperMinDate;

    };

    //点击弹出选择分类页面
    var g_catalogs = "";
    function choose_catalog_list(){
        var loToken = localStorage.getItem('loToken');
        var q = "method=paperCatalog" + "&perm=browser" + "&layoutmake=sign" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
        var data = {"m":"", "q":q};

        //以post方式提交数据
        $.ajax({
            type: "GET",
//            url: "/catalog/paper_columns",
            url: "/get",

            dataType:'json',
            data: data,
            contentType: "application/json",
            success:function(jsonData){

                if(jsonData.success == true){

                    g_catalogs = jsonData.results;
                    var column_id = "<%= column_id%>";
                    list_child_catalog(column_id);

                }
            }
        });
    };

    $(function(){

        document.getElementById('doc-select-catalog-name').innerText = "<%= paper_name%>";
        choose_catalog_list();

    });


</script>
</body>
</html>
