<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>微博列表选择</title>
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#59B19A">
    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../stylesheets/common.css">
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
    <script type="text/javascript" src="../assets/js/cookie.js"></script>
    <script type="text/javascript" src="../javascripts/common.js"></script>
</head>
<body style="background-color: #EEEFF1">
<div id = "doc-form-all">
    <header data-am-widget="header" class="am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <a href="javascript:returnBack()" class="">
                <img src="../images/navbar/return.png" style="height: 2rem;padding-left: 1rem;padding-right: 1rem">
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="#title-link" class="">选择稿库</a>
        </h1>
        <!--<div class="am-header-right am-header-nav">-->
            <!--<div>-->
                <!--<a href="javascript:list_articles_refresh();"><img src="../images/list/refresh-icon.png"></a><a href="javascript:returnHome()"><img src="../images/list/home-icon.png"></a>-->
            <!--</div>-->
        <!--</div>-->
    </header>
</div>

<div id="doc-catalog-list">
    <div id = "doc-catalog-list-tpl" class="am-list-news-bd">
        <ul class="am-list am-avg-sm-2">
            <li><a onclick="select_catalog(0);" class="am-list-item-hd" style="width:90%;float:right">待发布微博</a></li>
            <li onclick="select_catalog(0);" class="am-fr"><a class="am-list-item-hd am-fr">&nbsp;</a></li>
            <li><a onclick="select_catalog(1);" class="am-list-item-hd" style="width:90%;float:right">已发布微博</a></li>
            <li onclick="select_catalog(1);" class="am-fr"><a class="am-list-item-hd am-fr">&nbsp;</a></li>
            <li><a onclick="select_catalog(2);" class="am-list-item-hd" style="width:90%;float:right">定时发布微博</a></li>
            <li onclick="select_catalog(2);" class="am-fr"><a class="am-list-item-hd am-fr">&nbsp;</a></li>
        </ul>
     </div>
</div>

<script type="text/javascript">

    //导航栏返回按钮
    function returnBack(){
        history.go(-1);
    }

    //返回首页
    function returnHome(){
        window.location.href = "/home?loginToHome=0&timestamp" + (new Date()).getTime();
    }

    function select_catalog(id){

        localStorage.setItem("isPublishList",id);
        window.location.href = "/weibo_article_list/turnList?id=" + id;

    };

    $(function(){

    });


</script>
</body>
</html>
