<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>微博账号</title>
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../assets/i/favicon.png">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#59B19A">
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="../stylesheets/common.css">
  <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/js/amazeui.min.js"></script>
  <script type="text/javascript" src="../javascripts/common.js"></script>
</head>
<body>
<header id ="doc-dept-operation" data-am-widget="header" class="am-header am-header-default">
  <div class="am-header-left am-header-nav">
    <a href="javascript:returnBack();">
      <img src="../images/navbar/return.png">
    </a>
  </div>
  <h1 id="header-title" class="am-header-title" style="font-size: 1.5rem">微博账号</h1>
  <!--<div class="am-header-right am-header-nav">-->
    <!--<a href="javascript:choose_number();">-->
      <!--<span class="am-header-nav-title">&nbsp;确定</span>-->
    <!--</a>-->
  <!--</div>-->
</header>

<div style="border: none;display:none"><a id="doc-select-user" data_user_id="-1" class="am-list-item-hd">传递到</a></div>
<!--<div style="height: 3rem;text-align: center;background-color: #ecf4f7;line-height: 3rem"><small>个人所属部门库</small></div>-->
<div>
  <div id="doc-catalog-list">
    <a id="doc-select-catalog" data_catalog_id="-1" style="padding-left: 4%;display: none"><small><i class="am-icon-bars"></i>默认选用到自己的部门稿库，可选择其他稿库</small></a>
    <div id = "doc-catalog-list-tpl" class="am-list-news-bd">
    </div>
  </div>
</div>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" style="right: 0">
  <a href="#top" title="回到顶部">
    <img style="height: 3rem" src="../images/top.png">
  </a>
</div>

<script type="text/javascript">

  function get_catalog_info(catalog_id){

    var catalog_info = {"id":0,"parent_id":0};
    $.each(g_catalogs, function(){
      if(this.id == catalog_id){

        catalog_info = this;
      }
    });
    return catalog_info;
  };

  function is_catalog_has_child(catalog_id){

    var has_child = false;
    $.each(g_catalogs, function(){
      if(this.parent_id == catalog_id){

        has_child = true;
      }
    });
    return has_child;
  }

  //展示某个分类下的所有子分类
  function list_child_catalog(catalog_id){

    var catalog_list_html = '<div id = "doc-catalog-list-tpl" class="am-list-news-bd">';
    catalog_list_html += '<ul class="am-list am-avg-sm-2">';

    $.each(g_catalogs, function(){

      catalog_list_html += '<li><a onclick="select_catalog(' + this.groupId + ',\''+this.groupHead+'\',\''+this.weiboPerm+'\');" class="am-list-item-hd" style="width:90%;float:right;font-size:80%">';
//      catalog_list_html += '<img name="catalog-select-check" id="' + 'doc-catalog-select-' + this.id + '"  style="height: 1rem" src="../images/no-choose.png">';
      catalog_list_html += '&nbsp;&nbsp;' + this.groupName + '</a></li>';
      catalog_list_html += '<li onclick="select_catalog(' + this.groupId + ',\''+this.groupHead+'\',\''+this.weiboPerm+'\');" class="am-fr"><a class="am-list-item-hd am-fr" style="font-size:80%">&nbsp;</a></li>';

    });
    catalog_list_html += '</ul>';
    catalog_list_html += '</div>';
    $("#doc-catalog-list-tpl").replaceWith(catalog_list_html);
  };

  var g_catalogs = "";
  function choose_catalog_list(){
    var loToken = localStorage.getItem('loToken');
    var q = "method=weiboAccount" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
//    var q = "method=numberCatalog" + "&loToken=" + loToken + '&nocache=' + (new Date()).getTime();
    var data = {"m":"", "q":q};

//        var q = "method=deptCatalog" + "&perm=browser"  + '&nocache=' + (new Date()).getTime();
//        var data = {"m":"", "q":q};
    //以post方式提交数据
    $.ajax({
      type: "GET",
      url: "/get",

      dataType:'json',
      data: data,
      contentType: "application/json",
      success:function(jsonData){

        if(jsonData.success == true){

          g_catalogs = jsonData.results;
//          var catalog_info = get_catalog_info(0);
//          list_child_catalog(catalog_info.parent_id);
          list_child_catalog();
        }
      }
    });
  };

  function select_catalog(catalog_id, groupHead, weiboPerm){

    localStorage.setItem("groupHead",groupHead);
    weiboPerm = "|" + weiboPerm + "|";
    localStorage.setItem("weiboPerm",weiboPerm);

    var catalog_checks = document.getElementsByName('catalog-select-check');
    $.each(catalog_checks, function(){

      var catalog_check_id = "doc-catalog-select-" + catalog_id;
      if(this.id == catalog_check_id ){
        this.src = "../images/choose.png";
        this.parentElement.style.color = "#59B19A";
        var select_catalog = document.getElementById("doc-select-catalog");
        select_catalog.setAttribute("data_catalog_id", catalog_id);
      }
      else{
        this.src = "../images/no-choose.png";
        this.parentElement.style.color = "#454545";
      }
    });
    localStorage.setItem('group_id',catalog_id);
    window.location.href = "/weibo_article_list/list";
  };

  $(function(){
    choose_catalog_list();
  });

  function return_back_home(){
    window.history.go(-1);
  }

  function returnBack(){
      var terminalType = "<%= terminalType %>";
      if(terminalType && terminalType == "app"){
          returnHome();
      }else{
          history.go(-1);
      }
  }
  //返回首页
  function returnHome() {
      window.location.href = "/home?loginToHome=0&timestamp" + (new Date()).getTime();
  }

//  function choose_number(){
//
////    var catalog_id =  document.getElementById("doc-select-catalog").getAttribute("data_catalog_id");
//    window.location.href = "/weibo_article_list/list";
//
//    $.AMUI.progress.start();
//      $.AMUI.progress.set(0.6);
//      var data = {"catalog_id":catalog_id};
//      //以post方式提交数据
//      $.ajax({
//        type: "GET",
//        url: "/weibo_article_list/list",
//
//        dataType:'json',
//        data: data,
//        contentType: "application/json",
//        success:function(jsonData){
//
//          if(jsonData.success == true){
//
//            fn_show_tips("取稿成功。");
//            setTimeout(function () {
//              window.history.go(-1);
//            }, 1500);
//          }
//        }
//      });
//    }
</script>
</body>
</html>
